Flask
gunicorn
spacy
nltk
PyPDF2
scikit-learn
# ✅ Add spaCy model so Render installs it
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz#egg=en_core_web_sm
